
html {
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    background: white;
    font-family: 'Libre Baskerville', serif;
    font-size: 16px;
    margin: 0 auto;
    max-width: 800px;
    padding: 10px 20px;
    transition: all 0.5s ease;
}

section {
    margin-bottom: 2em;
}

a {
    color: deeppink;
    text-decoration: none;

    &:hover {
        color: black;
    }
}

hr {
    border: none;
    border-top: 1px solid #ddd;
}

// lists

ul {
    padding-left: 2.5em;
}

li {
    margin-bottom: 0.25em;
}

dt {
    font-weight: bold;
}

dd {
    margin-bottom: 0.25em;
    margin-left: 2.5em;
}

dd > ul {
    padding-left: 0;
}
