
.transitioner_container {
    -webkit-perspective-origin: 50% 0%;
    perspective-origin: 50% 0%;
    -webkit-perspective: 800px;
    perspective: 800px;
    position: relative;
    z-index: 0;
}

.transitioner_view {
    padding: 5px;
    transition: all 0.4s ease-in;

    @media screen and (min-width: $break-xsmall) {
        padding: 10px;
    }

    @media screen and (min-width: $break-small) {
        padding: 20px;
    }
}

.transitioner_view-active {
    @extend .transitioner_view;
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;

    &[data-transitioning] {
        opacity: 0;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transform: rotateY(120deg);
        transform: rotateY(120deg);
    }
}

.transitioner_view-incoming {
    @extend .transitioner_view;
    left: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    width: calc(100% - 5px);

    @media screen and (min-width: $break-small) {
        width: calc(100% - 40px);
    }

    &[data-transitioning] {
        left: 0;
        opacity: 1;
        top: 0;
    }
}
