<p>My name is Lochlan and I like to build things—some of which you can find on <a href="http://www.github.com/Lochlan/">Github</a>.</p>

<p>I am a native Portlander and life-long technology enthusiast.  Other than spending time with my awesome girlfriend and relaxing with my dog, my favorite thing in the world is writing software.  I also like eating at French restaurants (my favorites are <a href="http://lecrocodilerestaurant.com/">Le Crocodile</a> and <a href="http://stjackpdx.com/">St. Jack</a>), playing antiquated video games, and hiking the Council Crest and Pittock Mansion trails.</p>

<p>My favorite platform to develop for is the web. I've been working with it since childhood in 1995, during the reign of things like <code>&lt;blink&gt;</code>, Perl/CGI, page counters, and every other obsolete hallmark of the good old days.  I had a handful of paid jobs in middle school and high school and eventually got serious about doing contract work in 2006 with LAMP stacks.  Since then I've earned a Computer Science degree while continuing my trajectory as a web developer.</p>

<p>Some web development topics I'm currently interested in are:
    <ul>
        <li>Web Components (Polymer and X-Tag)</li>
        <li>Responsive Web Design</li>
        <li>Integrating <code>&lt;canvas&gt;</code> into website UI</li>
        <li>REST API architecture and consumption</li>
    </ul>
</p>

<p>I am currently available for either full-time or contract work, please <a href="#contact">contact me</a> for details.</p>
