<p>Please contact me for more information using the below form, or by e-mailing me directly at <a href="mailto:info@lochlanmcintosh.com?subject={{ subject }}&body={{ text }}">info@lochlanmcintosh.com</a>.</p>

<form>
    <p>
        <input
            name="name"
            placeholder="Name"
            required
            type="text"
            value="{{ name }}"
        >
    </p>

    <p>
        <input
            name="email"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
            placeholder="E-Mail Address"
            required
            type="email"
            value="{{ email }}"
        >
    </p>

    <p>
        <input
            name="subject"
            placeholder="Subject"
            required
            type="text"
            value="{{ subject }}"
        >
    </p>

    <p>
        <textarea
            name="text"
            placeholder="Message"
            required
        >{{ text }}</textarea>
    </p>

    <p>
        <input
            type="submit"
            value="Send Message"
            {% if disabled %}disabled{% endif %}
        >
    </p>

    {% if error_status_code %}
        <div>
            <p>Error! There was a problem submitting your message.</p>
        </div>
    {% endif %}
</form>