<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Lochlan McIntosh - Portland, OR. Web Developer and Software Engineer</title>

    <meta name="description"
        content="The homepage of Lochlan McIntosh, a software engineer specializing in front-end web development.  Located in Portland, Oregon."
    >
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    >

    <link rel="canonical" href="http://www.lochlanmcintosh.com{{ request.path }}">

    <link rel="stylesheet" href="/static/css/style.css?v={{ version_hash }}">

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-5918814-1', 'auto');
        ga('send', 'pageview');
    </script>
</head>

<body>

    <header class="header">
        <h1 class="title">
            <span class="title_first_name">LOCHLAN</span>
            <span class="title_last_name">McINTOSH</span>
        </h1>

        <p class="subtitle"><em>Software engineer <span class="hide_for_small">specializing in front-end web development</span> &nbsp; ❧ &nbsp; <span class="hide_for_small">Located in</span> Portland, Oregon</em></p>
    </header>

    <nav>
        <ul class="nav">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'resume' %}">Résumé</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
    </nav>

    <section class="js-Backbone content">
        {% block content %}{% endblock %}
    </section>

    <footer class="footer">
        <a
            href="https://github.com/Lochlan/LochlanMcIntosh.com"
            target="_blank"
        >fork me on github</a>
    </footer>

    <script>
        var require = { urlArgs: 'v={{ version_hash }}' };
    </script>
    <script
        data-main="/static/js/main"
        src="/static/js/vendor/require.js"
    ></script>
</body>
</html>
