<section>
    <h3>Education</h3>

    <p>B.Sc. Computer Science, Portland State University, Portland, OR. Graduated 2012.</p>

    <h3>Technology</h3>

    <dl class="cv_technology_list">
        <dt>Expert</dt>
            <dd>JavaScript, CSS, HTML, Backbone.js, Underscore.js, Require.js, jQuery, Sass, Stylus, Handlebars, Git</dd>
        <dt>Proficient</dt>
            <dd>Python3, PHP, PostgreSQL, MySQL, Django, Django REST Framework, Karma with Jasmine, the Intern, X-Tag, Pixi.js, Photoshop, GNU Make, 6502 assembly</dd>
        <dt>Some Familiarity</dt>
            <dd>Java, C/C++, Node.js, Grunt.js, Polymer, d3.js, three.js, Apache, Travis CI, OpenShift</dd>
    </dl>

    <h3>Process</h3>

    <ul class="cv_process_list">
        <li>Unit and integration testing before and during development.</li>

        <li>Iterative development and frequent releases (e.g., kanban, "agile").</li>

        <li>Distributed version control with well-encapsulated commits and deliberate branching/merging strategies (e.g., gitflow, github flow).</li>

        <li>Peer-reviewed code to enforce quality and distribute knowledge.</li>
    </ul>
</section>

<section>
    <h2 class="text_center">Work Experience</h2>

    <header class="cv_position_header">
        <h3>Lead Front End Developer</h3>
        <p><strong>Zappallas US</strong>, Portland, OR.</p>
        <p>Jul 2013–Feb 2015</p>
    </header>

    <p>Zappallas has many website properties, the largest of which is <a href="http://www.tarot.com/">Tarot.com</a>.  The platform is built using a service-oriented architecture, with each service consisting of a Python/Django application using Django REST Framework and PostgreSQL.</p>

    <ul class="cv_position_detail_list">
        <li>4-7 person engineering team within a 20-30 person company.</li>

        <li>
            <dl>
                <dt>Responsibilities</dt>
                    <dd>
                        <ul>
                            <li>Chose front-end technologies used on sites, architected and led development of front-end projects.</li>

                            <li>Developed and enforced front-end standards (HTML, CSS, and JS).</li>

                            <li>Built and maintained makefile build systems for all projects.</li>

                            <li>Performed full-stack maintenance on Tarot.com, a PHP site with a custom MVC framework.</li>

                            <li>Peer reviewed code prior to merging and deployment.</li>

                            <li>Interfaced with designers, marketing, and sales.</li>

                            <li>Hired and oversaw Junior front-end developers.</li>
                        </ul>
                    </dd>
            </dl>
        </li>

        <li>
            <dl>
                <dt>Achievements</dt>
                    <dd>
                        <ul>
                            <li>Introduced structured Backbone code with RequireJS for all new JavaScript development.</li>

                            <li>Introduced CSS standards and architecture.</li>

                            <li>Introduced front-end testing to Tarot.com: unit testing with Karma + Jasmine and functional testing with Intern/Leadfoot and Selenium.</li>

                            <li>Developed easy-to-understand makefile build system for Tarot.com that replaced untrustworthy custom Node.js project, deleting over 5000 built files from the repo in the process.</li>

                            <li>Architected and supervised the implementation of a front end astrological report platform with Backbone.</li>

                            <li>Expanded the report platform to include <a href="http://tarot.com/readings-reports/tarot-readings/celtic-cross-10-card">Tarot readings</a> (still under development) along with <a href="http://m.tarot.com/readings-reports/tarot-readings/celtic-cross-10-card">mobile-optimized versions</a> utilizing swipe gestures when picking cards.  Features WebGL/Canvas with pixi.js and web components with X-Tag.</li>

                            <li>Designed and implemented the front end of <a href="http://www.freehoroscope.com/">FreeHoroscope.com</a> with Backbone and co-architected it's REST API.  Handlebars templates feature a responsive 12-column grid with Sass and Foundation.</li>
                        </ul>
                    </dd>
            </dl>
        </li>
    </ul>

    <header class="cv_position_header">
        <h3>Software Developer</h3>
        <p><strong><a href="http://www.supportland.com/">Supportland</a></strong>. Portland, OR.</p>
        <p>Dec 2011–Jun 2013</p>
    </header>

    <ul class="cv_position_detail_list">
        <li>3 person engineering team within a 6 person company.</li>

        <li>
            <dl>
                <dt>Responsibilities</dt>
                    <dd>
                        <ul>
                            <li>Built REST APIs in PHP with Luracast Restler for use by web and mobile clients.</li>

                            <li>Designed and built Backbone.js REST clients with Require.js, Underscore.js, and Bootstrap.</li>

                            <li>Performed full-stack maintenance on Supportland.com, a PHP site with a custom MVC framework.</li>
                        </ul>
                    </dd>
            </dl>
        </li>

        <li>
            <dl>
                <dt>Achievements</dt>
                    <dd>
                        <ul>
                            <li>Developed the second version of the Supportland site with Backbone and RequireJS.</li>

                            <li>Designed metrics for Supportland businesses, wrote MySQL queries to generate them, exposed data via REST APIs, accessed APIs with Backbone, and displayed data visualizations with d3.js SVG graphs.</li>

                            <li>Created (unreleased) browser extensions for Chrome, Safari, and Firefox to highlight Supportland businesses in Google search results.</li>
                        </ul>
                    </dd>
            </dl>
        </li>
    </ul>

    <header class="cv_position_header">
        <h3>Freelance Web Developer</h3>
        <p>Dec 2006–Present</p>
    </header>

    <p>I have developed new websites and worked on existing websites for a variety of clients.  Since 2012 my focus has been full-time work but I do infrequently accept new projects.  Work I've done includes:</p>

    <dl>
        <dt><em><a href="http://www.valkilmer.com/">Val Kilmer Official Site</a></em>, 2013</dt>
            <dd>Led the technical side of a project to integrate video streaming into Val Kilmer's website, Val Kilmer's Facebook page, and partner websites, for promotion of the one-man show <em>Citizen Twain</em>.  Duties included: helping select software and hardware; handling all software implementation; and providing technical support for the production side of the stream.</dd>

        <dt><em><a href="http://www.chrisgroban.com/">Chris Groban – Film Director</a></em>, 2012</dt>
            <dd>JavaScript/canvas video portfolio application using video.js.</dd>

        <dt><em><a href="http://web.archive.org/web/20140104211647/http://patheywardcanes.com/">Pat Heyward Canes</a></em>, 2011 (offline 2015)</dt>
            <dd>Custom ZenCart template over existing site and WordPress blog. SEO campaign brought PageRank from unranked to four and increased traffic.  Also designed and managed short-term and long-term AdWords campaign strategies.</dd>

        <dt><em><a href="http://purespaceportland.com/">Pure Space</a></em>, 2011</dt>
            <dd>WordPress site with a custom template.</dd>

        <dt><em><a href="http://www.pasadenaplayhouse.com/">Pasadena Playhouse</a></em>, 2010</dt>
            <dd>MODx website and WordPress blog.  Features a wide range of templates for rapid low-cost content development by non-technical administrative staff.</dd>

        <dt><em><a href="http://www.wcep.com/">West Coast Event Productions</a></em>, 2010</dt>
            <dd>Custom PHP/MySQL product catalog with import tool, WordPress blog with feed.</dd>

        <dt><em><a href="http://www.smsautofabrics.com/">SMS Auto Fabrics</a></em>, 2009</dt>
           <dd>MODx website, including: MySQL product database and import tool; PHP product search with JavaScript front end; small custom product API for consumption by search front end; user data storage with sessions; and a customer database with back-end tools.</dd>
    </dl>
</section>
