{% extends "shared.html" %}

{% block page_title %}Résumé{% endblock %}

{% block meta_description %}Résumé of a software engineer specializing in front-end web development, located in Portland, Oregon.{% endblock %}


{% block shared %}
    <section>
        <h3>Education</h3>

        <p>B.Sc. Computer Science, Portland State University, Portland, OR. Graduated 2012.</p>

        <h3>Technology</h3>

        <dl class="cv_technology_list">
            <dt>Expert</dt>
                <dd>JavaScript (ES5 & ES6), CSS, HTML, Backbone.js, Underscore.js, Require.js, jQuery, Sass, Git, Github</dd>
            <dt>Proficient</dt>
                <dd>Python, PHP, SQL, CoffeeScript, Node.js, Marionette.js, Mocha, Chai, Jasmine, QUnit, Karma, Nightmare, Travis CI, Circle CI, Photoshop, Make, 6502 assembly</dd>
            <dt>Some Familiarity</dt>
                <dd>Golang, C, Ruby, Rails, Django, Laravel, React, Polymer, Sinon.JS, D3, three.js, Jenkins, Apache, NGINX, OpenShift, AWS, SauceLabs</dd>
        </dl>

        <h3>Process</h3>

        <ul class="cv_process_list">
            <li>Unit and integration testing before and during development.</li>

            <li>Iterative development and frequent releases (e.g., kanban, "agile").</li>

            <li>Distributed source control with deliberate branching (e.g., gitflow, github flow).</li>

            <li>Peer-reviewed code to enforce quality and distribute knowledge.</li>
        </ul>
    </section>

    <section>
        <h2 class="text_center">Work Experience</h2>

        <section>
            <header class="cv_position_header">
                <h3>Front End Engineer (SDE II)</h3>
                <p><strong><a href="https://www.amazon.com/">Amazon.com</a></strong>, Portland, OR.</p>
                <p>Apr 2017–Present</p>
            </header>

            <ul class="cv_position_detail_list">
                <li>Delivery Experience team.</li>

                <li>6 person collocated team working within a distributed engineering org.</li>

                <li>
                    <dl>
                        <dt>Responsibilities</dt>
                            <dd>
                                <ul>
                                    <li>Currently working on a confidential project due to be released later this year.</li>
                                </ul>
                            </dd>
                    </dl>
                </li>
            </ul>
        </section>

        <section>
            <header class="cv_position_header">
                <h3>Front End Engineer</h3>
                <p><strong><a href="https://workwithopal.com/">Opal</a></strong>, Portland, OR.</p>
                <p>Mar 2016–Apr 2017</p>
            </header>

            <ul class="cv_position_detail_list">
                <li>Monolithic Rails project with supporting microservices, using a Backbone/Marionette CoffeeScript web client with React and Ember peppered in, deployed on Heroku.</li>

                <li>8 person front-end team within a 16 person engineering team, ~70 person company.</li>

                <li>
                    <dl>
                        <dt>Responsibilities</dt>
                            <dd>
                                <ul>
                                    <li>Built, reviewed, maintained, and tested features for the Backbone/Marionette client.</li>

                                    <li>Designed and conducted technical screenings for front-end engineering candidates.</li>

                                    <li>Ownership of front-end testing and "asset library" feature.</li>
                                </ul>
                            </dd>
                    </dl>
                </li>

                <li>
                    <dl>
                        <dt>Achievements</dt>
                            <dd>
                                <ul>
                                    <li>Added front-end tests to CI builds by adding the Karma test runner to the project.</li>

                                    <li>Automated QA process with end-to-end UI tests using Nightmare, Mocha, and Chai.</li>

                                    <li>Improved asset search view performance with large data sets, a 5x performance increase.</li>
                                </ul>
                            </dd>
                    </dl>
                </li>
            </ul>
        </section>

        <section>
            <header class="cv_position_header">
                <h3>Lead Front End Developer</h3>
                <p><strong><a href="https://impactflow.com/">ImpactFlow</a></strong>, Portland, OR.</p>
                <p>Apr 2015–Mar 2016</p>
            </header>

            <ul class="cv_position_detail_list">
                <li>Monolithic PHP/MySQL REST API using the Laravel framework and a Backbone/ Marionette client, deployed on AWS.</li>

                <li>4 person engineering team within a 10+ person company.</li>

                <li>
                    <dl>
                        <dt>Responsibilities</dt>
                            <dd>
                                <ul>
                                    <li>Hired and managed junior and intermediate-level software developers.</li>

                                    <li>Prioritized features and managed development process with director of product.</li>

                                    <li>Built, reviewed, maintained, tested, and deployed features across the full stack.</li>

                                    <li>Ownership of front end, git workflow, build systems, and software testing.</li>
                                </ul>
                            </dd>
                    </dl>
                </li>

                <li>
                    <dl>
                        <dt>Achievements</dt>
                            <dd>
                                <ul>
                                    <li>Introduced code reviews into an existing pull-request workflow.</li>

                                    <li>Replaced low-visibility ad-hoc development process with Kanban and frequent iterative release cycles.</li>

                                    <li>Introduced testing (Jasmine, Webdriver) and continuous integration (Travis CI) into the workflow, created a culture of testing and incremental improvement.</li>
                                    
                                    <li>Removed nearly 1 million lines of code by reducing complexity and deleting dead code.</li>

                                    <li>Built social-media posting feature integrating with Facebook and Twitter APIs.</li>

                                    <li>Built node.js service to create S3 cache of pages served to Facebook robots.</li>

                                    <li>Built ticketing widget iframe for event host end users.</li>
                                </ul>
                            </dd>
                    </dl>
                </li>
            </ul>
        </section>

        <section>
            <header class="cv_position_header">
                <h3>Lead Front End Developer</h3>
                <p><strong>Zappallas US</strong>, Portland, OR.</p>
                <p>Jul 2013–Feb 2015</p>
            </header>

            <ul class="cv_position_detail_list">
                <li>Zappallas’ platform consists of Django+REST Framework microservices accessed by PHP clients across several sites. Zappallas largest site is <a href="http://www.tarot.com/">Tarot.com</a> with 6 million hits per month.</li>

                <li>4-7 person engineering team within a 20-30 person company.</li>

                <li>
                    <dl>
                        <dt>Responsibilities</dt>
                            <dd>
                                <ul>
                                    <li>Chose front-end technologies used on sites, architected and led development of front-end projects.</li>

                                    <li>Helped hire and oversaw junior front-end developers.</li>

                                    <li>Developed and enforced front-end standards (HTML, CSS, and JS).</li>

                                    <li>Built and maintained makefile build systems for several projects.</li>

                                    <li>Built, reviewed, maintained, and tested features across the full stack.</li>

                                    <li>Interfaced with designers, marketing, and sales.</li>
                                </ul>
                            </dd>
                    </dl>
                </li>

                <li>
                    <dl>
                        <dt>Achievements</dt>
                            <dd>
                                <ul>
                                    <li>Introduced structured Backbone code with RequireJS for all new JavaScript development.</li>

                                    <li>Introduced front-end testing to Tarot.com: unit testing with Karma and Jasmine and UI integration testing with Intern/Leadfoot and Selenium.</li>

                                    <li>Created makefile build system for Tarot.com that replaced an untrustworthy custom Node.js project, deleting 5000+ built files from the repo in the process.</li>

                                    <li>Architected front-end astrological report platform with Backbone.</li>

                                    <li>Extended report platform to include Pixi.js Canvas Tarot readings along with mobile-optimized versions utilizing swipe gestures when picking cards.</li>

                                    <li>Designed and implemented the front end of FreeHoroscope.com (defunct) with Backbone and co-architected its REST API.</li>
                                </ul>
                            </dd>
                    </dl>
                </li>
            </ul>
        </section>

        <section>
            <header class="cv_position_header">
                <h3>Software Engineer</h3>
                <p><strong><a href="http://www.supportland.com/">Supportland</a></strong>. Portland, OR.</p>
                <p>Dec 2011–Jun 2013</p>
            </header>

            <ul class="cv_position_detail_list">
                <li>Monolithic PHP/MySQL application with a REST API and front-end/mobile clients.</li>

                <li>3 person engineering team within a 6 person company.</li>

                <li>
                    <dl>
                        <dt>Responsibilities</dt>
                            <dd>
                                <ul>
                                    <li>Designed and built REST APIs for consumption by web and mobile clients.</li>

                                    <li>Designed and built Backbone.js REST clients styled with Bootstrap 2.</li>

                                    <li>Performed full-stack maintenance on Supportland.com, a PHP site with a custom MVC framework.</li>
                                </ul>
                            </dd>
                    </dl>
                </li>

                <li>
                    <dl>
                        <dt>Achievements</dt>
                            <dd>
                                <ul>
                                    <li>Developed the second version of the Supportland site with Backbone and RequireJS.</li>

                                    <li>Designed business metrics, displaying data visualizations with d3.js SVG graphs.</li>

                                    <li>Built extensions for Chrome, Safari, Firefox to highlight sites in Google search results.</li>
                                </ul>
                            </dd>
                    </dl>
                </li>
            </ul>
        </section>

        <section>
            <header class="cv_position_header">
                <h3>Freelance Web Developer</h3>
                <p>Dec 2006–Present</p>
            </header>

            <p>I have developed new websites and worked on existing websites for a variety of clients.  Since 2012 my focus has been full-time work but I do infrequently accept new projects.  Work I've done includes:</p>

            <dl>
                <dt><em><a href="http://www.valkilmer.com/">Val Kilmer Official Site</a></em>, 2013</dt>
                    <dd>Integrated video streaming into Val Kilmer's website, Val Kilmer's Facebook page, and partner websites, for promotion of the one-man show <em>Citizen Twain</em>.</dd>

                <dt><em><a href="http://www.chrisgroban.com/">Chris Groban – Film Director</a></em>, 2012</dt>
                    <dd>JavaScript/canvas video portfolio application using video.js.</dd>

                <dt><em><a href="http://purespaceportland.com/">Pure Space</a></em>, 2011</dt>
                    <dd>WordPress site with a custom template.</dd>

                <dt><em><a href="http://www.pasadenaplayhouse.org/">Pasadena Playhouse</a></em>, 2010</dt>
                    <dd>MODx website and WordPress blog.  Features a wide range of templates for rapid low-cost content development by non-technical administrative staff.</dd>

                <dt><em><a href="http://www.wcep.com/">West Coast Event Productions</a></em>, 2010</dt>
                    <dd>Custom PHP/MySQL product catalog with import tool, WordPress blog with feed.</dd>

                <dt><em><a href="http://www.smsautofabrics.com/">SMS Auto Fabrics</a></em>, 2009</dt>
                   <dd>MODx website, including: MySQL product database and import tool; PHP product search with JavaScript front end; small custom product API for consumption by search front end; user data storage with sessions; and a customer database with back-end tools.</dd>
            </dl>
        </section>
    </section>
{% endblock %}
